*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}

#input-el{
    display: block;
    min-width: 400px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border-color: rgb(15, 102, 15);
}
button{
    padding: 1rem;
    margin-left: 1rem;
    min-width: 7.5rem;
    color: rgb(15, 102, 15);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background: white;
    border-radius: 0.5rem;
}
ul{
    margin: 1rem;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
:any-link{
    color:rgb(15, 102, 15);;
}
