.footer-button{
    padding: 0.3rem;
    gap: 0.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
}
.base{
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
}
.box{
    background-color: black;
    height: 567px;
    width: 500px;
    display: flex;
    
    flex-direction: column;
    
    border-radius: 0.5rem;
    border:  solid black;
}
.button{
    border-radius: 1rem;
    padding: 2.2rem;
    margin-top: 2px;
    font-size: larger;
}
.operator{
    border-radius: 1rem;
    padding: 2.2rem;
    margin-top: 2px;
    font-size: larger;
}
.buttons{
    box-sizing: border-box;
    background-color: rgb(34, 40, 49);
    height: 310px;
    width: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1rem;
    border: 1px solid black;
    padding: 4px;
    
}
#d1,#d2{
    overflow: hidden;
    background-color:rgb(49, 54, 63) ;
    padding: 0.5rem;
    text-align: right;
    color: white;
    border: 2px solid  white;
    border-radius: 0.5rem;
}
#d2{
    font-size: 2.5rem;
    height: 3rem;
    margin-top:0.51rem;
}
.display{
    margin: 1rem;
}
